Django>=6.0,<7.0

djangorestframework>=3.16,<4.0

djangorestframework-simplejwt>=5.5,<6.0

django-cors-headers>=4.9,<5.0

python-decouple>=3.8,<3.9

requests>=2.31,<3.0

huey>=2.5,<3.0
redis>=7.2,<8.0

pytest>=9.0,<10.0
pytest-django>=4.12,<5.0
pytest-cov>=7.0,<8.0
coverage>=7.4,<8.0
ruff>=0.15.2,<0.16
